/* startup */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* body */
body{
    background-color: #F6F8F9;
}
/* utilities */
.blueback{
    background-color: #47ADF1;
    border-color: #47ADF1;
}
.whiteback{
    background-color: #ffffff;
    border-color: #ffffff;
}
.violetback{
    background-color: #9C72E4;
    border-color: #9C72E4;
}
.greenback{
    background-color: #64C0A9;
    border-color: #64C0A9;
}
.orangeback{
    background-color: #F29E33;
    border-color: #F29E33;
}
.pinkback{
    background-color: #D863A1;
    border-color: #D863A1;
}
.lightgreenback{
    background-color: #B0C926;
    border-color: #B0C926;
}

.white{
    color: white;
}
.radius{
    border-radius: 5px;
}

/* header */

h1{
    vertical-align:middle;
    display: inline;
}
#logo{
    vertical-align: middle;
}
.botborder{
    border-bottom: 1px solid rgba(211, 211, 211, 0.3);
}
.logo.container{
    width: 1080px;
}
.container{
    margin: 0 auto;
}

/* main */


.taskcheck.container{
    width: 800px;
    margin-top: 2em;
    padding: 1em 3em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.buttontask{
    width: 80px;
    height: 30px;
}

.textinput{
    width: 100px;
    height: 30px;
    text-align: center;
}

.task-lists{
    width: 800px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
h3{
    font-weight: 600;
    display: inline-block;
    padding-left: 5px;
}
.todo-list{
    padding: 1em 3em;
}

.checker{
    border: 1px solid;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    height: 20px;
    font-size: 14px;
    display: inline-block;
}
.checker.right{
    border-color: #64C0A9;
    color: #64C0A9;
}
.checker.red{
    border-color: red;
    color: red;
}

.label{
    width: fit-content;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    height: 25px;
    line-height: 2px;
    margin-left: 2px;
    padding: 11px;
    font-size: 12px;
}
.check-line{
    margin: 5px 0 1em 0;
}

.lastone{
    padding-bottom: 15px;
}



